exif-tool/ssh-tests.json
{
  "updatedAt": "2026-06-09T02:28:56.002Z",
  "createdAt": "2026-06-09T02:25:57.364Z",
  "id": "6NMCaWvgqbVZ2zbh",
  "name": "Exif Tool/SSH Tests",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        112
      ],
      "id": "95a400c0-9735-45e8-af35-c96090a07340",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## ExifTool use via SSH",
        "height": 304,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -256
      ],
      "typeVersion": 1,
      "id": "0c1ad6da-2b54-47ed-8fb5-a11c45f80a9b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "OFFSET=0\nLIMIT=500\nDIR=\"/media/pato/Media_HD/Inspiration Board\"\nEXIF=\"/home/linuxbrew/.linuxbrew/bin/exiftool\"\n\nLIST=\"$(mktemp)\"\nfind \"$DIR\" -maxdepth 1 -type f \\( -iname \"*.jpg\" -o -iname \"*.jpeg\" -o -iname \"*.png\" -o -iname \"*.heic\" \\) \\\n  | sort \\\n  | sed -n \"$((OFFSET+1)),$((OFFSET+LIMIT))p\" > \"$LIST\"\n\n\"$EXIF\" -q -q -api MissingTagValue=\"\" -json -d \"%Y-%m-%dT%H:%M:%S\" \\\n  -SourceFile -FileType -MIMEType -FileSize -ImageWidth -ImageHeight \\\n  -DateTimeOriginal -CreateDate -ModifyDate -FileModifyDate \\\n  -@ \"$LIST\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -80,
        -144
      ],
      "id": "6c9e3162-f75b-4b43-b0ca-fd3cff340142",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "ssr7RR2HiglJLW6v",
          "name": "SSH Private Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// SSH node output is one item like: { code, stdout, stderr }\nconst out = items[0].json.stdout;\n\n// stdout is a JSON string (exiftool -json). Parse it.\nconst arr = JSON.parse(out);\n\n// return one n8n item per file (best for downstream processing)\nreturn arr.map(o => ({\n  json: {\n    ...o,\n    best_date: o.DateTimeOriginal || o.CreateDate || o.ModifyDate || o.FileModifyDate,\n    best_date_source: o.DateTimeOriginal ? \"DateTimeOriginal\"\n      : o.CreateDate ? \"CreateDate\"\n      : o.ModifyDate ? \"ModifyDate\"\n      : \"FileModifyDate\",\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -144
      ],
      "id": "4d6787df-846c-4a1b-9d60-8e0efc17bdb3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const lines = $json.stdout.trim().split('\\n');\nreturn lines.map(line => ({ line }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        112
      ],
      "id": "e2742ae7-4dfa-4f78-b8d0-ce48c6713e0b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "DIR=\"/media/pato/Media_HD/Inspiration Board\"\n\nprintf \"%-8s %-10s\\n\" \"COUNT\" \"EXTENSION\"\nprintf \"%-8s %-10s\\n\" \"--------\" \"----------\"\n\nfind \"$DIR\" -maxdepth 1 -type f \\\n  | sed -E 's/.*\\.([^.]+)$/\\1/' \\\n  | tr '[:upper:]' '[:lower:]' \\\n  | sort | uniq -c | sort -nr \\\n  | awk '{ printf \"%-8d %-10s\\n\", $1, $2 }'"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        64,
        112
      ],
      "id": "46e98195-998a-4ca9-b12c-bb1600d193f6",
      "name": "Find File Types",
      "credentials": {
        "sshPrivateKey": {
          "id": "ssr7RR2HiglJLW6v",
          "name": "SSH Private Key"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Find File Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find File Types": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eecaa1a6-8495-47af-a623-a0150126d812",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-09T02:25:57.367Z",
      "createdAt": "2026-06-09T02:25:57.367Z",
      "role": "workflow:owner",
      "workflowId": "6NMCaWvgqbVZ2zbh",
      "projectId": "cO5zu2AXDUFKk84O"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_fileName": "exif-tool/ssh-tests.json",
  "_currentSize": 4946,
  "_githubSize": null,
  "_changed": true,
  "_isNew": true
}